.book {
    text-decoration: none;
    padding: 10px 10px; 
}

.book img {
    width: 100px;
}

.book-expanded {
    width: 100%;
    text-decoration: none; 
    padding: 10px 10px;
    display: flex;
}

.image {
    width:20%;
    margin: 10px 20px;
}
 .desc {
    margin: 10px auto;
    text-align: left;
}