.book-list {
    list-style-type: none;
    font-size: 1.25em;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.book-list li {
    margin-bottom: .5em;
    border-bottom: 1px solid gray;
}

.book-list img {
    float: left;
}